$mainColor:deeppink;
$secondaryColor:blue;
$keyColor:black;
$white:white;

$mainFont:'Roboto', sans-serif;

$textSm:0.8em;
$textMd:1em;
$textXl:2em;
$textXxl:3em;

$fontLight:300;
$fontRegular:400;
$fontBold:600;

$paddingChico:10px;
$paddingMedio:30px;
$paddingGrande:50px;

$subrayadoSi: underline;
$subrayadoNo: none;